
div.bg-main{
    background-color: #972189c6;
    color: #eee;
}
div.bg-mainAlt{
    background-color: #eb13c027;
}
.text-head{
  color: purple;
  font-weight: bold;
  text-transform: capitalize;
}
label{
    text-transform: capitalize;
}
.bg-main2{
    background-color: #ffc35333;
}
.bg-main3{
    background-color: rgb(14, 1, 26);
 color:rgb(102, 100, 100);   
}
.text-li{
  font-weight: bold;
  font-size: large;  
}
.list{
    list-style-type: none;
}
.ify{
    display: flex;
    align-items: center;
}

footer.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    color: inherit;
    text-align: center;
    margin-top: 2rem ;
}
button.bg-main4{
    background-color: rgb(25, 1, 48);
    color: white;
}

input.box {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ddd;border-radius: 0;
}

.rounded-4{
    border-radius: .8rem;
}